body {
  background-color: #44276a;
  background-image: url(https://images.pexels.com/photos/7605490/pexels-photo-7605490.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1280px;
  max-height: 1024px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #F1EEE9;
  text-align: right;
}

body > h1 {
  color: #F1EEE9;
  font-family: 'Merriweather', serif;
  font-size: 100px;
  text-align: center;
  padding-left: 8rem;
  padding-bottom: 1rem;
}

body> label {
  display: flex;
  color: #F1EEE9;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-align: center; 
  justify-content: center;
  position: relative;
  left: 35rem;
}

body > label, input, #Movies {
  display: inline;
}


input, #Movies {
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 25px;
  text-align: center; 
  justify-content: center;
  background-color: #F1EEE9;
  position: absolute;
  left: 30rem;
  bottom: 530px;
}

input {
  position: absolute;
}

#overview {
  text-align: left;
  align-items: right;
  justify-content: right;
  gap: 1rem;
  overflow-wrap: break-word;
  margin-left: 45%;
  padding-top: 11.5em;
  float: right;   
}

#tagline {
  text-align: left;
  align-items: top;
  justify-content: left;
  float: left;
  color: #F1EEE9;
  margin-left: 1em;
  position: absolute;
  bottom: 445px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}



* {
  padding: 0px;
  margin: 0px;
}

#release_date {
  display:flex;
  position: absolute;
  margin-top: 15em;
  display: inline-block;
  white-space: nowrap;
  margin-left: 1em;
  margin-bottom: -7.5em; 
}

#img {
  border-radius: 10px;
  display:flex;
  margin-top: 12em;
  margin-left: 1rem;
  position: absolute;
}

#movietitle {
  font-size: 40px;
  position: absolute;
  top: 15rem;
  margin-left: 1rem;
  color: #F1EEE9;
  padding-bottom: 10px;
  text-transform: Uppercase;
}

#genres {
  display: flex;
  text-align: right;
  display: inline-flex;
  font-size: 15px;
  text-align: left;
  float: right;
  position: absolute;
  margin-top:26em;
  margin-left: 38.5%;


}

#revenue {
  font-size: 15px;
  position: relative;
  padding-top: 30.5%;
  padding-right: 1em;

}

#runtime {
  display:flex;
  position: absolute;
  margin-top: 15em;
  display: inline-block;
  margin-left: 26em; 
  margin-bottom: -7.5em; 
}

#vote_count, #vote_average, #popularity {
  display: inline;
  display: inline-block;
  align-content: right;
  justify-content: right;
  position: relative; top: 40px;
  line-height: 12px;
  white-space: nowrap;
  text-align: center;
  color:#F1EEE9;
}

#vote_count {
  padding: 5px;
  margin: 0px;
  background-color: #d38806;
  border-radius: 1em;
  border-spacing: 1em;
  position: relative; left: 590px;

}

#vote_count:hover {
  background-color: gray;
}

#vote_average {
  padding: 5px;
  margin: 0px;
  background-color: #d38806;
  border-radius: 1em;
  border-spacing: 1em;
  position: relative; left: 580px;

}

#vote_average:hover {
  background-color: gray;
}

#popularity {
  padding: 5px;
  margin: 0px;
  background-color: #d38806;
  border-radius: 1em;
  border-spacing: 1em;
  position: relative; left: 570px;

}

#popularity:hover {
  background-color: gray;
}

#release_date, #runtime {
  bottom: 510px;
}


